/* BASIC */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; background: #fafafa; }

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: #ffffff;
}

.logo {
    font-size: 26px;
    font-weight: 800;
    color: #0b2c5a;
}

/* NAVIGATION (DESKTOP) */
.nav-links {
    display: flex;
    gap: 35px;
}
.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

/* HAMBURGER (HIDDEN IN DESKTOP) */
.hamburger {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* HERO SECTION */
.hero {
    background: linear-gradient(90deg, #1c9ca7, #157e7f);
    color: white;
    padding: 60px 20px;
    text-align: center;
    border-radius: 15px;
    width: 90%;
    margin: 25px auto;
}

.hero h1 { font-size: 50px; }
.hero p { margin-top: 10px; font-size: 18px; }

.search-box {
    background: white;
    width: 50%;
    margin: 25px auto;
    padding: 7px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.card {
    background: white;
    width: 250px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    color: black;
    text-decoration: none;
}

.card img { width: 80px; margin-bottom: 20px; }
.card h3 { margin: 0; }

/*** MOBILE RESPONSIVE ***/
@media (max-width: 768px) {

    .header { padding: 15px 25px; }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: white;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px;
    }
    .nav-links a { padding: 15px; }

    .hamburger { display: block; }

    .hero h1 { font-size: 35px; }
    .search-box { width: 90%; }

}
